.contact {
    border: 2px ridge rgba(98, 0, 255, 0.619);
    padding: 1rem;
    
}

.contact__h2{
    font-size: var(--size-2xl);
    color: var(--clr-light);
    margin-bottom: 2rem;
}

.contact a {
    margin: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}