

.contact__h2{
    font-size: var(--size-base);
    color: var(--clr-light);
    margin-bottom: 2rem;
}

.contact a {
    margin: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    
}

.linkedin-btn {
    background-color: aqua;
}

.contact-btn,
.tel-btn,
.linkedin-btn {
    width: 10rem;
    text-align: center;
    font-size: var(--size-base);
}

/* xs */
@media (min-width: 475px) {
    
    .contact__h2{
        font-size: var(--size-3xl);
    }
    

    
    .contact-btn,
    .tel-btn,
    .linkedin-btn {

        font-size: var(--size-base);
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */